{{ define "main" }}
{{ partial "hero" . }}
<div class="wrapper-lg">
  <div class="block">
    <div class="flex flex-column flex-row-m">
      <div class="w-100 w-60-m">
        <div class="contact-form bg-gray">
          <div class="contact-form__inner flow">
            {{ with .Params.intro }}
            <h2 class="no-margin">{{ .heading }}</h2>
            {{ .body | markdownify }}
            <p><small>Fields marked with an * are required</small></p>
            {{ end }}
            <div class="contact-form__wrapper">
              {{ partial "forms/contact-form" . }}
            </div>
          </div>
        </div>
      </div>
      <div class="w-100 w-40-m ml-9">
        {{ partial "contact-info" . }}
      </div>
    </div>
  </div>
</div>
<div class="wrapper-lg">
  <div class="mb-4 flow">
    {{ with .Params.disclaimer }}
    <h3>{{ .heading }}</h3>
    <p>{{ .body | markdownify }}</p>
    {{ end }}
    {{ with .Params.privacy_policy }}
    <h3>{{ .heading }}</h3>
    <p>{{ .body | markdownify }}</p>
    {{ end }}
  </div>
</div>
{{ end }}