<form method="post" name="Contact Home Builder" action="/thank-you/" class="contact-form">
    <div class="visually-hidden">
        <label for="_subject">New form submission from the "home builder's" website contact form</label>
        <input aria-label="subject" id="_subject" name="_subject" value="New form submission from the Home Builder Demo website contact form"/>
    </div>
    <div class="bg-primary">
        <h3 class="text-eggshell">Contact Our Experts</h3>
    </div>
    <div>
        <p>Have questions? Help from our plan experts is just a click away.</p>
    </div>
    <div class="contact-form__form-group">
        <label for="name">Name *</label>
        <input name="name" id="name" type="text" class="contact-form__form-control" required>
    </div>
    <div class="contact-form__form-group">
        <label for="email">Email *</label>
        <input name="email" id="email" type="email" class="contact-form__form-control" required>
    </div>
    <div class="contact-form__form-group">
        <label for="phone">Phone *</label>
        <input name="phone" id="phone" type="phone" class="contact-form__form-control" required>
    </div>
    <div class="contact-form__form-group">
        <label for="message">Message *</label>
        <textarea name="message" id="message" class="contact-form__form-control" rows="4" required></textarea>
    </div>
    <input type="hidden" name="inbox_key" value="home-builder-demo-inbox" class="contact-form__inbox-key">
    <input type="text" name="_gotcha" class="visually-hidden" aria-label="gotcha">
    <div class="h-captcha" data-sitekey="780b026e-c2d2-492b-b77a-4154e5a513a2"></div>
    <br>
    <input type="submit" id="send_request" name="send_request" class="contact-form__btn btn btn-primary" value="Send Request">
</form>