{{ define "main" }}
{{ partial "blog/blog-hero" .}}
<section> 
  <div>
    <div class="post-content wrapper">
      <div class="blog-inner-content flow">
        <!-- {{ partial "breadcrumbs" . }} -->
        <h1 class="text-center h2 intro">{{ .Title }}</h1>
        <div class="intro divider"></div>
        {{ partial "breadcrumbs" . }}
        {{ .Content  }}
      </div>
      <div class="blog__share-buttons">
        {{ partial "blog/share-buttons" . }}
      </div>
    </div>
    <div class="blog__author-wrapper">
      {{ $author := index .Site.Data.authors (.Params.author | default "default") }}
      {{- if $author -}}
        <div class="blog__author-image">
          <!-- {{ $author.image }} -->
          <img src="/uploads/profile-picture-placeholder.jpg" alt="">
        </div>
        <div class="blog__author-content">
          <div class="blog__author-heading shift-up">
            About the author | {{ $author.name }}
          </div>
          <div class="blog__author-about">
            {{ $author.about }}
          </div>
        </div>
      {{ end }}
    </div>
    {{ partial "blog/post-navigation" . }}
  </div>
  {{ partial "blog/related-posts" . }}
</section>

{{ end }}