{{ define "main" }}
<div class="block">
    <div class="wrapper-lg">
        <div class="flex p-relative flex-column flex-row-m flex-center">
            <div class="heading-container">
                <div class="wrapper-floor-plan-title text-primary h2">
                    {{ .Title }}
                </div>  
                <div class="wrapper-floor-plan-id text-primary h5">
                    #{{ .Params.plan_details.id }}
                </div>
            </div>
            <div class="swiper-container w-70 w-70-m">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        {{ with .Params.plan_details }}
                        {{ range .images }}
                        <div class="swiper-slide">
                            <a data-fslightbox="gallery" href="{{ .image_url }}">
                                <img loading="lazy" src="{{ .image_url }}" width="700" height="450" alt="{{ .image_alt }}">
                            </a>
                        </div>
                        {{ end }}
                        {{ end }}
                    </div>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-button-prev">{{ partialCached "svg-icons/double-chevron-left.svg" . }}</div>
                    <div class="swiper-button-next">{{ partialCached "svg-icons/double-chevron-right.svg" . }}</div>
                    <div class="swiper-scrollbar"></div>
                </div>
            </div>
            <div class="w-30 w-30-m">
                <div class="wrapper-floor-plan-info shadow-4 ml-5">
                    <div class="single-at-a-glance text-eggshell">
                        <p class="">At a glance</p>
                    </div>
                    <div class="single-sqft border-bottom-black">
                        {{ .Params.plan_details.sqft }} Sq. Ft.<br>
                    </div>
                    <div class="single-bedrooms border-bottom-black">
                        {{ .Params.plan_details.bedrooms }} Bed<br>
                    </div>
                    <div class="single-bathrooms border-bottom-black">
                        {{ .Params.plan_details.bathrooms }} Bath<br>
                    </div>
                    <div class="single-floors border-bottom-black">
                        {{ .Params.plan_details.floors }} Floors<br>
                    </div>
                    <div class="single-garage">
                        {{ .Params.plan_details.garage }} Garage<br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}