.blog-card {
  gap: 5px;

  &:hover,
  &:focus {
      transform: translateY(-5px);
      transition: 0.3s ease-out;
      box-shadow: 3px 3px 12px 2px rgba(0, 0, 0, 0.4);
  }
}

.blog-card__img {
  height: 300px;
}

.blog-card__arrow {
  display: flex;
  position: relative;
  top: -2px;
}

.blog-card__card {
  display: grid;
  gap: $ic-400;
  width: 100%;

  @include breakpoint(sm) {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }

  @include breakpoint(md) {
    width: 100%;
    margin-right: 3rem;
  }

  @include breakpoint(lg) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.blog-card--categories {
  width: 100%;
  list-style-type: none;

  margin: auto;

  svg {
    height: 35px;
    width: 35px;
  }
}

.blog-card--categories__wrapper {
  margin-left: auto;
  visibility: hidden;
  width: 0;

  ul {
    padding: 0;
    width: 90%;

    li {
      border-bottom: 1px solid black;
      padding: 1rem;
    }
  }

  @include breakpoint(sm) {
    visibility: hidden;
    width: 0;
  }

  @include breakpoint(md) {
    visibility: visible;
    width: 50%;
  }
}

.blog-card__category-list {
  align-items: center;
}

.blog-card__category-link {
  margin-left: 1rem;
}

.blog-card__social-media {
  ul {
    border-bottom: 1px solid black;
    padding: 1rem;
    margin: auto;
    justify-content: center;

    li {
      padding: 0;
      // border-bottom: 1px solid black;
      // padding: 1rem;
      border-bottom: none;
    }
  }
}

.blog-card-follow-us {
  width: 65%;
  margin: auto;
}