.btn {
  position: relative;
  z-index: 1;
  display: inline-block;
  font-size: $ic-100;
  font-weight: 500;
  padding: $ic--100 $ic-400;
  text-decoration: none;
  transition: $transition;
  text-align: center;
  border: none;

  svg {
    height: $ic-100;
    width: auto;
    position: relative;
    top: 1px;
    margin-right: 8px;
  }

  &:hover,
  &:focus {
    transform: translateY(-5px);
  }
}

.btn-primary {
  color: $egg-shell;
  background-color: $primary-color;

  &:hover,
  &:focus {
    color: $white;
  }
}

.btn-secondary {
  color: $primary-color;
  background-color: $accent-color;

  &:hover,
  &:focus {
    color: $primary-color;
  }
}

button {
  cursor: pointer;
}

.tasite-bootstrap-styles a, button, .btn, input, .btn-group {
  transition: $transition !important;
}

.btn-filter {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  padding: $ic-100 0;
  transition: 0.3s ease;

  svg {
    fill: $primary-color;
    width: $ic-400;
    height: $ic-400;
    margin-right: $ic-400;
    position: relative;
    top: -1px;
  }

  &:hover,
  &:focus {
    color: $primary-color;
  }
}