.mt-locations-map {
    display: none; 

    @include breakpoint(sm) {
        position: relative;
        display: grid;
        place-items: center;
        max-height: 600px;
        max-width: 600px;
        margin: 0 auto;

        img {
            position: absolute;
            opacity: 0;
            top: -1%;
            left: -1%;
        }

        svg {
            height: 600px;
            width: auto;
            max-width: 100%;
        }
    }
}

.mt-location {
    position: absolute;
    height: 18px;
    width: 18px;

    &__btn {
        border: 3px solid $white;
        background-color: $primary-color;
        outline: 2px solid $primary-color;
        border-radius: 50%;
        height: 18px;
        width: 18px;
        position: absolute;
    }

    &__content {
        padding: $ic-100 $ic-400;
        position: absolute;
        bottom: 100%;
        left: 50%;
        transform: translateX(-50%);
        display: none;
        width: max-content;
        z-index: 1;

        &::after {
            position: absolute;
            top: 100%;
            left: 50%;
            width: 0;
            height: 0;
            transform: translateX(-50%);
            border-width: 10px 10px 0;
            border-style: solid;
            border-color: $primary-color transparent transparent;
            content: '';
        }

        a {
            color: $white;

            svg {
                fill: $white;
                height: $ic--100;
                width: $ic--100;
                margin-left: 8px;
                transition: transform $transition;
            }

            &:hover, 
            &:focus {
                svg {
                    transform: translateX(8px);
                }
            }
        }
    }
}

.mt-location--appleton-east {
    @include breakpoint(sm) {
        top: 58%;
        right: 20%;
    }

    @include breakpoint(md) {
        right: 22%;   
    }
}

.mt-location--appleton-west {
    @include breakpoint(sm) {
        top: 58%;
        right: 25%;
    }

    @include breakpoint(md) {
        right: 27%;   
    }
}

.mt-location--commercial {
    @include breakpoint(sm) {
        top: 55%;
        right: 22.5%;
    }

    @include breakpoint(md) {
        right: 24.5%;   
    }
}

.mt-location--fond-du-lac {
    @include breakpoint(sm) {
        bottom: 26%;
        right: 22.5%;   
    }

    @include breakpoint(md) {
        right: 24.5%;   
    }
}

.mt-location--green-bay {
    @include breakpoint(sm) {
        top: 52%;
        right: 18%;   
    }
}

.mt-location--menasha {
    @include breakpoint(sm) {
        top: 58%;
        right: 22.5%;
    }

    @include breakpoint(md) {
        right: 24.5%;   
    }
}

.mt-location--waupaca {
    @include breakpoint(sm) {
        top: 54%;
        left: 56%;
    }

    @include breakpoint(md) {
        left: 58%;
    }
}

.marker-active + .mt-location__content {
    display: block;
}