.wrapper-floor-plan-info {
  // width: 25rem;
  // height: 20rem;
  // display: inline-grid;
  background-color: #f6f6f6;
}

.swiper-container {
}

.heading-container {
  position: absolute;
  top: -4rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.single-at-a-glance {
  display: flex;
  align-items: center;
  background-color: $primary-color;
}

.wrapper-floor-plan-title {
}

.wrapper-floor-plan-id {
}

.wrapper-floor-plan-info {
}
