.wrapper-floor-plan-info {
  background-color: #f6f6f6;

  div:not(:first-child) {
    margin: 0 1rem;
    padding: 0.5rem 0.5rem;
  }

  svg {
    height: 30px;
    width: 30px;
    fill: $accent-color;
  }
}

.single-at-a-glance {
  padding: 0.75rem;
}

.heading-container {
  position: absolute;
  top: -4rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.single-at-a-glance {
  display: flex;
  align-items: center;
  background-color: $primary-color;
}

.gap-5 {
  gap: 5rem;
}

.floor_plan_wrapper {
  align-items: center;

  @include breakpoint(md) {
    align-items: stretch;
  }
}

.heading-container {
  top: -2rem;

  @include breakpoint(sm) {
    top: -4rem
  }
}
