.wrapper-floor-plan-info {
  width: 25rem;
  height: 20rem;
  display: inline-grid;
  background-color: #f6f6f6;
}

.heading-container {
  position: absolute;
  top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.single-at-a-glance {
  display: flex;
  align-items: center;
  background-color: $primary-color;
}

.wrapper-floor-plan-title {
}

.wrapper-floor-plan-id {
}

.wrapper-floor-plan-info {
}