.social {
  margin: 0;
  padding: 0;

  li {
    list-style-type: none;
    margin: 0;
  }

  .facebook-icon {
    top: -3px;
  }

  &__icon {
    position: relative;
    // padding: $ic--200;
    padding: .5rem;
    margin: 0 5px;
    background-color: $primary-color;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 1.3rem;

    svg {
      width: $ic-300;
      height: $ic-300;
      fill: $accent-color;
    }

    &:hover,
    &:focus {
      &::before {
        opacity: 1;
      }
    }
  }
}
