{{ define "main" }}
{{ partial "hero" . }}
{{ with .Params.luxury_service }}
<section>
  <div class="wrapper-lg flex w-100 w-70-m about-content flex-column mt-5 mb-5 flow">
    <div class="about-content-heading flex flex-column intro">
      <h2>{{ .heading }}</h2>
      <div class="divider"></div>
    </div>
    <div class="about-content-body flex flex-justify-center">
      <p>{{ .body }}</p>
    </div>
  </div>
  {{ end }}
</section>
{{ partialCached "community" . }}
{{ partial "site-cta" . }}
{{ end }}