.community {
    .brand-card {
        img {
            max-width: 150px;
            max-height: 75px;

            @include breakpoint(md) {
                // max-width: 175px;
                max-height: 100px;
            }
        }
    }
}

.about-header-wrapper {
}

.about-content {
}

.about__cover-image {
    img {
        height: 450px;
        opacity: 1 !important;
    }
}