.wrapper--floor-plan {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(3, 1fr);
}

.block--floor-plan {
  margin: 0;
}

.floor-plan-image {
  display: flex;
}

.floor-plan-details--1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 30px;
  justify-content: space-evenly;
}

.floor-plan-details--2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 25px;
  font-size: 1rem;
}

.floor-plan-details--id {
  margin-right: 1rem;
}

.floor-plan-list {
  list-style: none;
  margin-left: -40px;

  li {
    counter-increment: custom;

    &::before {
      content: counter(custom) " ";
      background: $primary-color;
      color: #fff;
      width: 30px;
      height: 30px;
      padding: 3px;
      text-align: center;
      border-radius: 50%;
      margin-right: 0.5rem;
    }
  }
}
