.wrapper--floor-plan {
  display: grid;
  gap: 15px;
  
  @include breakpoint(md) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.block--floor-plan {
  margin: 0;
}

.floor-plan-image {
  display: flex;
}

.floor-plan-details--1 {
  height: 30px;
  justify-content: space-evenly;
}

.floor-plan-info-wrapper {
  border-left: 2px solid #e9e9e9;
  border-bottom: 2px solid #e9e9e9;
  border-right: 2px solid #e9e9e9;
  height: 15vh;
}

.floor-plan-details--1 {
  border-bottom: 2px solid #e9e9e9;
  height: 60%;
}

.floor-plan-details--2 {
  height: 40%;
  align-items: center;
  font-size: 1rem;
} 

.floor-plan-details--sq {
  border-right: 2px solid #e9e9e9;
}

.floor-plan-details--bedrooms {
  border-right: 2px solid #e9e9e9;
}

.floor-plan-details--bathrooms {
  border-right: 2px solid #e9e9e9;
}

.floor-plan-details--floors {
  border-right: 2px solid #e9e9e9;
}

.view-floor-plan {
  margin-left: auto;

  svg {
    height: 15px;
    width: 15px;
  }
}

.floor-plan-list {
  list-style: none;
  margin-left: -40px;

  li {
    counter-increment: custom;

    &::before {
      content: counter(custom) " ";
      background: $primary-color;
      color: #fff;
      width: 30px;
      height: 30px;
      padding: 3px;
      text-align: center;
      border-radius: 50%;
      margin-right: 0.5rem;
    }
  }
}
