.wrapper--floor-plan {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(3, 1fr);
}

.block--floor-plan {
  margin: 0;
}

.floor-plan-image {
  display: flex;
}

.floor-plan-details--1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 30px;
  justify-content: space-evenly;
}

.floor-plan-details--2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 25px;
  font-size: 1rem;
}

.floor-plan-details--id {
    margin-right: 1rem;
}

.floor-plan-details--sq {

}