<section aria-labelledby="community-heading" class="community-efforts-block block bg-gray">
  <div class="wrapper-lg fade-up">
    <div class="flex flex-column flex-row-m flex-center-m">
      <div class="w-100 w-50-m">
        <picture>
          <source sizes="50vw" srcset="https://lcojlaw-2022.imgix.net/uploads/green-bay-wi-8-medium.jpg?fm=avif&q=80&height=200&width=200&fit=crop 200w, https://lcojlaw-2022.imgix.net/uploads/green-bay-wi-8-medium.jpg?fm=avif&q=80&height=400&width=400&fit=crop 400w, https://lcojlaw-2022.imgix.net/uploads/green-bay-wi-8-medium.jpg?fm=avif&q=80height=600&width=600&fit=crop 600w" type="image/avif">

          <source sizes="50vw" srcset="https://lcojlaw-2022.imgix.net/uploads/green-bay-wi-8-medium.jpg?fm=webp&q=80height=200&width=200&fit=crop 200w, https://lcojlaw-2022.imgix.net/uploads/green-bay-wi-8-medium.jpg?fm=webp&q=80height=400&width=400&fit=crop 400w, https://lcojlaw-2022.imgix.net/uploads/green-bay-wi-8-medium.jpg?fm=webp&q=80height=600&width=600&fit=crop 600w" type="image/webp">

          <source sizes="50vw" srcset="https://lcojlaw-2022.imgix.net/uploads/green-bay-wi-8-medium.jpg?q=80height=200&width=200&fit=crop 200w, https://lcojlaw-2022.imgix.net/uploads/green-bay-wi-8-medium.jpg?q=80height=400&width=400&fit=crop 400w, https://lcojlaw-2022.imgix.net/uploads/green-bay-wi-8-medium.jpg?q=80height=600&width=600&fit=crop 600w" type="image/jpg">
          <img sizes="50vw" loading="lazy"
              src="https://lcojlaw-2022.imgix.net/uploads/green-bay-wi-8-medium.jpg" width="500" height="500" alt="Aerial view of downtown Green Bay">
        </picture>
      </div>
      <div class="w-100 w-50-m flow ml-3">
        <div>
          <h2 id="community-heading" class="no-margin">Committed to our Community</h2>
          <div class="divider"></div>
        </div>
        <p>Donec elementum nibh est, a porttitor erat viverra a. Cras congue augue eget posuere ultricies. Quisque id egestas sapien. Nulla sed condimentum velit. Phasellus ut enim massa. Pellentesque et felis ac elit facilisis tristique vitae vel diam. Praesent hendrerit tempor auctor. Cras lobortis tincidunt feugiat.</p>
        <a href="/committed-to-community/" class="btn btn-primary">Learn how we make a difference</a>
      </div>
    </div>
  </div>
</section>