<div class="contact-sidebar">
  <iframe title="Google map location for Custom Home Builder in Green Bay, WI" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2846.4332681719097!2d-87.99284139999999!3d44.4857883!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8802e4dd4df188dd%3A0xcaf53222c81d4a5c!2sInsight%20Creative%2C%20Inc.!5e0!3m2!1sen!2sus!4v1668535666432!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  <div class="contact-info flow">
    <div class="contact-info__contact mt-2">
      <h3 class="h5">{{ .Site.Data.site_settings.business_name }}</h3>
      <p>
        {{ .Site.Data.site_settings.address.street }}
        <br>
        {{ .Site.Data.site_settings.address.city }}, {{ .Site.Data.site_settings.address.state }} {{ .Site.Data.site_settings.address.zip }}
      </p>
      <a href="https://goo.gl/maps/nZAX7JaEQaiZAVudA" class="decorated-link" rel="noopener noreferrer" target="_blank">View on Google Maps</a>
    </div>
    <div>
      <small>Phone</small><br><a href="tel:{{ .Site.Data.site_settings.phone }}" class="decorated-link">{{ .Site.Data.site_settings.phone }}</a>
    </div>
    <div><small>Fax</small><br>{{ .Site.Data.site_settings.fax }}</div>
    <div>{{ partialCached "social-media" . }}</div>
  </div>
  <div class="home-builder-cta flow mt-4 pt-4">
    <h3 class="h5">Looking for a specific floor plan?</h3>
    <p>Browse our floor plans.</p>
    <a href="/floor-plans/" class="btn btn-primary">Find your dream home</a>
  </div>
</div>