<section aria-labelledby="hero-heading" class="hero" style="background-image: url('/uploads/luxorious-lighted-house.jpg')">
    <div class="hero__inner">
      <div class="wrapper-lg">
        <div class="hero__content">
          <div class="flex flex-column flex-row-m flex-justify-between">
            <!-- <img src="/uploads/luxorious-lighted-house.jpg" alt="" class="cover"> -->
          </div>
          <h1 class="text-white">Home Builders Blog</h1>
        </div>
      </div>
    </div>
    </div>
  </section>