<section class="intro block">
    <div class="wrapper-lg flow fade-up">
        {{ with .Params.intro }}
            {{ if .heading }}
                <h2 class="text-primary">{{ .heading | markdownify }}</h2>
            {{ end }}
            {{ if .body }}
                {{ .body | safeHTML }}
            {{ end }}
            {{ if .button }}
                <a href="{{ .button_url }}" class="btn btn-primary">{{ .button_text }}</a>
            {{ end }}
        {{ end }}
    </div>
</section>