{{ define "main" }}
{{ partial "solutions-hero" . }}
{{ range .Pages }}
<div class="flex-center wrapper-lg flex flex-column flex-row-m w-100 mt-5 mb-5">
  <div class="custom-solutions-image w-100 w-50-m">
    <picture>
      <source sizes="(min-width: 993px) 100vw, 50vw" srcset="https://home-builder.imgix.net{{ .Params.hero.image_url }}?fm=avif&q=75&width=600&height=450 600w" type="image/avif">
  
      <source sizes="(min-width: 993px) 100vw, 50vw" srcset="https://home-builder.imgix.net{{ .Params.hero.image_url }}?fm=webp&q=75&width=600&height=450 600w" type="image/webp">
  
      <source sizes="(min-width: 993px) 100vw, 50vw" srcset="https://home-builder.imgix.net{{ .Params.hero.image_url }}?fm=jpg&q=75&width=600&height=450 600w" type="image/jpg">
  
      <img src="{{ .Params.hero.image_url }}" class="solutions-img box_outline ml-4" alt="{{ .Params.hero.image_alt }}">   
  </picture>
  </div>
  <div class="custom-solutions-content w-100 w-50-m flow">
    <h2>{{ .Title }}</h2>
    <div class="divider"></div>
    <p class="w-90">{{ .Params.intro.body }}</p>
    <a href="{{ .Permalink }}" class="btn btn-primary">{{ .Title }}</a>
  </div>
</div>
{{ end }}
{{ if .Params.custom.enabled }}
{{ with .Params.custom }}
<div class="flex-center wrapper-lg flex flex-column flex-row-m w-100 mt-5 mb-5">
  <div class="custom-solutions-image w-100 w-50-m">
    <picture>
      <source sizes="(min-width: 993px) 100vw, 50vw" srcset="https://home-builder.imgix.net{{ .image_url }}?fm=avif&q=75&width=600&height=450 600w" type="image/avif">
  
      <source sizes="(min-width: 993px) 100vw, 50vw" srcset="https://home-builder.imgix.net{{ .image_url }}?fm=webp&q=75&width=600&height=450 600w" type="image/webp">
  
      <source sizes="(min-width: 993px) 100vw, 50vw" srcset="https://home-builder.imgix.net{{ .image_url }}?fm=jpg&q=75&width=600&height=450 600w" type="image/jpg">
  
      <img src="{{ .image_url }}" class="solutions-img box_outline ml-4" alt="{{ .featured_image_alt}}">   
  </picture>
  </div>
  <div class="custom-solutions-content w-100 w-50-m flow">
    <h2>{{ .heading }}</h2>
    <div class="divider"></div>
    <p class="w-90">{{ .body }}</p>
{{ end }}
    {{ range .Pages }}
    {{ if eq .Title "Custom Home Building" }}
    <a href="{{ .Permalink }}" class="btn btn-primary">{{ .Title }}</a>
    {{ end }}
    {{ end }}
  </div>
</div>
{{ end }}
{{ if .Params.interior.enabled}}
{{ with .Params.interior}}
<div class="flex-center wrapper-lg flex flex-column flex-row-reverse-m w-100 mt-5 mb-5">
  <div class="interior-solutions-image w-100 w-50-m">
    <picture>
      <source sizes="(min-width: 993px) 100vw, 50vw" srcset="https://home-builder.imgix.net{{ .image_url }}?fm=avif&q=75&width=600&height=450 600w" type="image/avif">
  
      <source sizes="(min-width: 993px) 100vw, 50vw" srcset="https://home-builder.imgix.net{{ .image_url }}?fm=webp&q=75&width=600&height=450 600w" type="image/webp">
  
      <source sizes="(min-width: 993px) 100vw, 50vw" srcset="https://home-builder.imgix.net{{ .image_url }}?fm=jpg&q=75&width=600&height=450 600w" type="image/jpg">
  </div>
  <div class="interior-solutions-content w-100 w-50-m flow">
    <h2>{{ .heading }}</h2>
    <div class="divider"></div>
    <p class="w-90">{{ .body }}</p>
    {{ end }}
    {{ range .Pages }}
    {{ if eq .Title "Interior Design" }}
    <a href="{{ .Permalink }}" class="btn btn-primary">{{ .Title }}</a>
    {{ end }}
    {{ end }}
  </div>
</div>
{{ end }}
{{ if .Params.outdoor.enabled}}
{{ with .Params.outdoor }}
<div class="flex-center wrapper-lg flex flex-row-m flex-column w-100 mt-5 mb-5">
  <div class="outdoor-solutions-image w-100 w-50-m">
    <picture>
      <source sizes="(min-width: 993px) 100vw, 50vw" srcset="https://home-builder.imgix.net{{ .image_url }}?fm=avif&q=75&width=600&height=450 600w" type="image/avif">
  
      <source sizes="(min-width: 993px) 100vw, 50vw" srcset="https://home-builder.imgix.net{{ .image_url }}?fm=webp&q=75&width=600&height=450 600w" type="image/webp">
  
      <source sizes="(min-width: 993px) 100vw, 50vw" srcset="https://home-builder.imgix.net{{ .image_url }}?fm=jpg&q=75&width=600&height=450 600w" type="image/jpg">

      <img src="{{ .image_url }}" class="solutions-img box_outline ml-4" alt="{{ .image_alt }}">
  </div>
  <div class="outdoor-solutions-content w-100 w-50-m flow">
    <h2>{{ .heading }}</h2>
    <div class="divider"></div>
    <p class="w-90">{{ .body }}</p>
{{ end }}
    {{ range .Pages }}
    {{ if eq .Title "Outdoor Living" }}
    <a href="{{ .Permalink }}" class="btn btn-primary">{{ .Title }}</a>
    {{ end }}
    {{ end }}
  </div>
</div>
{{ end }}
{{ if .Params.licensed.enabled}}
{{ with .Params.licensed }}
<div class="flex-center wrapper-lg flex flex-row-reverse-m flex-column flex-row-m w-100 mt-5 mb-5">
  <div class="licensed-solutions-image w-100 w-50-m">
    <picture>
      <source sizes="(min-width: 993px) 100vw, 50vw" srcset="https://home-builder.imgix.net{{ .image_url }}?fm=avif&q=75&width=600&height=450 600w" type="image/avif">
  
      <source sizes="(min-width: 993px) 100vw, 50vw" srcset="https://home-builder.imgix.net{{ .image_url }}?fm=webp&q=75&width=600&height=450 600w" type="image/webp">
  
      <source sizes="(min-width: 993px) 100vw, 50vw" srcset="https://home-builder.imgix.net{{ .image_url }}?fm=jpg&q=75&width=600&height=450 600w" type="image/jpg">

      <img src="{{ .image_url }}" class="solutions-img box_outline ml-4" alt="{{ .image_alt }}">
  </div>
  <div class="licensed-solutions-content w-100 w-50-m flow">
    <h2>{{ .heading }}</h2>
    <div class="divider"></div>
    <p class="w-90">{{ .body }}</p>
{{ end }}
    {{ range .Pages }}
    {{ if eq .Title "Licensed Realty" }}
    <a href="{{ .Permalink }}" class="btn btn-primary">{{ .Title }}</a>
    {{ end }}
    {{ end }}
  </div>
</div>
{{ end }}
{{ if .Params.remodeling.enabled }}
{{ with .Params.remodeling }}
<div class="flex-center wrapper-lg flex flex-column flex-row-m w-100 mt-5 mb-5">
  <div class="licensed-solutions-image w-100 w-50-m">
    <picture>
      <source sizes="(min-width: 993px) 100vw, 50vw" srcset="https://home-builder.imgix.net{{ .image_url }}?fm=avif&q=75&width=600&height=450 600w" type="image/avif">
  
      <source sizes="(min-width: 993px) 100vw, 50vw" srcset="https://home-builder.imgix.net{{ .image_url }}?fm=webp&q=75&width=600&height=450 600w" type="image/webp">
  
      <source sizes="(min-width: 993px) 100vw, 50vw" srcset="https://home-builder.imgix.net{{ .image_url }}?fm=jpg&q=75&width=600&height=450 600w" type="image/jpg">

      <img src="{{ .image_url }}" class="solutions-img box_outline ml-4" alt="{{ .image_alt }}">
  </div>
  <div class="licensed-solutions-content w-100 w-50-m flow">
    <h2>{{ .heading }}</h2>
    <div class="divider"></div>
    <p class="w-90">{{ .body }}</p>
{{ end }}
{{ range .Pages }}
{{ if eq .Title "Remodeling" }}
<a href="{{ .Permalink }}" class="btn btn-primary">{{ .Title }}</a>
{{ end }}
{{ end }}
{{ end }}
{{ end }}