{{ define "main" }}
{{ partial "home/hero" . }}
{{ partial "intro" . }}
    {{ if .Params.solutions.enabled }}
            <div class="flex flex-column flex-row-m mt-5 mb-5 wrapper-lg">
                <div class="w-100 w-50-m">
                    {{ partial "solutions-responsive-image" (dict "Page" . "image_url" .Params.solutions.image_url) }}
                </div>
                <div class="w-100 w-50-m flow mt-6 mt-0-m">
                    <h2 class="text-primary">{{ .Params.solutions.heading }}</h2>
                    <div class="divider"></div>
                    <p>{{ .Params.solutions.body }}</p>
                    <ul class="no-list-style two-column-list no-padding">
                        {{ $pages := where .Site.RegularPages "Section" "solutions" }}
                        {{ range $pages }}
                            <li class="solutions-li">
                                {{ if eq .Title "Custom Home Building" }}
                                    {{ partialCached "svg-icons/hammer.svg" . }}<a href="{{ .Permalink }}">{{ .Title }}</a>
                                {{ else if eq .Title "Interior Design" }}
                                    {{ partialCached "svg-icons/pencil.svg" . }}<a href="{{ .Permalink }}">{{ .Title }}</a>
                                {{ else if eq .Title "Outdoor Living" }}
                                    {{ partialCached "svg-icons/couch.svg" . }}<a href="{{ .Permalink }}">{{ .Title }}</a>
                                {{ else if eq .Title "Licensed Realty" }}
                                    {{ partialCached "svg-icons/paper.svg" . }}<a href="{{ .Permalink }}">{{ .Title }}</a>
                                {{ else if eq .Title "Remodeling" }}
                                    {{ partialCached "svg-icons/tools.svg" . }}<a href="{{ .Permalink }}">{{ .Title }}</a>
                                {{ else }} 
                                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                                {{ end }}
                            </li>
                        {{ end }}
                    </ul>
                    <a href="{{ .Params.solutions.button_url }}" class="btn btn-primary">{{ .Params.solutions.button_text }}</a>
                </div>
            </div>
    {{ end }}
    {{ if .Params.our_process.enabled }}
        {{ with .Params.our_process }}
                <div class="block bg-gray bg-angled mt-6">
                    <div class="wrapper-lg">
                        <h2 class="text-center">{{ .heading }}</h2>
                        <div class="divider-home intro"></div>
                        <div class="grid-4 mt-4">
                            {{ range .card }}
                            <div class="card bg-primary text-white text-center flow inner-box">
                                <img src="{{ .icon }}" class="card__img">
                                <h3 class="text-eggshell">{{ .sub_heading }}</h3>
                                <p class="card__p">{{ .body }}</p>
                            </div>
                            {{ end }}
                        </div>
                    </div>
                </div>
        {{ end }}
    {{ end }}
        {{ if .Params.recent_projects.enabled }}
            <div class="wrapper-lg">
                <h2 class="text-center mt-5">{{ .Params.recent_projects.heading }}</h2>
                <div class="divider-home intro"></div>
                <p class="intro text-center">{{ .Params.recent_projects.body }}</p>
                <div class="featured-projects mt-5">
                    {{ range where (where .Site.RegularPages "Section" "projects" ) "Params.featured" "=" true }}
                        <div class="featured">
                            <div class="cover-image">
                                <a href="{{ .Permalink }}"><img src="{{ .Params.seo.featured_image }}"></a>
                            </div>
                            <div class="featured__body">
                                <h3 class="text-eggshell pt-1">{{ .Title }}</h3>
                            </div>
                        </div>
                    {{ end }}
                </div>
                <div class="text-center">
                    <a href="{{ .Params.recent_projects.button_url }}" class="btn btn-primary mt-5 mb-5">{{ .Params.recent_projects.button_text }}</a>
                </div>
            </div>
        {{ end }}
{{ partial "site-cta" . }}
{{ end }}