{{ $heroClass := lower .Page.Title }}
<div class="hero hero--blog hero--{{ anchorize $heroClass }} ">
  <div class="hero__content flex flex-center">
    <div class="wrapper-lg flex flex-column">
        <div class="blog__title-wrapper w-100 w-50-m flow">
          <h1 class="blog__title text-white text-shadow">Home Builder's Blog</h1>
          <div class="flex flex-justify-center">
            <div class="categories-list">
              {{ if .Params.Categories }}
              {{ range $index, $elements := .Params.Categories }}<a href="{{ `categories/` | relLangURL }}{{ . | urlize | lower }}/" class="categories">{{ if ne $index 0 }}{{ end }}
                  {{ . | title }}</a><span class="text-white"> </span>{{ end}}
              {{ end }}
            </div>
          </div>
        </div>
          <div class="blog__cover-image">
            <picture>
              <source sizes="(min-width: 993px) 100vw, 50vw" srcset="https://home-builder.imgix.net{{ .Params.seo.featured_image }}?fm=avif&q=75&width=325&height=250 400w, https://home-builder.imgix.net{{ .Params.seo.featured_image }}?fm=avif&q=75&width=600&height=450 600w, https://home-builder.imgix.net{{ .Params.seo.featured_image }}?fm=avif&q=75&width=800&height=525 800w" type="image/avif">
          
              <source sizes="(min-width: 993px) 100vw, 50vw" srcset="https://home-builder.imgix.net{{ .Params.seo.featured_image }}?fm=webp&q=75&width=325&height=250 400w, https://home-builder.imgix.net{{ .Params.seo.featured_image }}?fm=webp&q=75&width=600&height=450 600w, https://home-builder.imgix.net{{ .Params.seo.featured_image }}?fm=webp&q=75&width=800&height=525 800w" type="image/webp">
          
              <source sizes="(min-width: 993px) 100vw, 50vw" srcset="https://home-builder.imgix.net{{ .Params.seo.featured_image }}?fm=jpg&q=75&width=325&height=250 400w, https://home-builder.imgix.net{{ .Params.seo.featured_image }}?fm=jpg&q=75&width=600&height=450 600w, https://home-builder.imgix.net{{ .Params.seo.featured_image }}?fm=jpg&q=75&width=800&height=525 800w" type="image/jpg">
          
              <img src="{{ .Params.seo.featured_image }}" width="600" height="450" alt="{{ .Params.seo.featured_image_alt }}">   
          </picture>
        </div>
    </div>
  </div>
</div>