{{ $heroClass := lower .Page.Title }}
<div class="hero hero--blog hero--{{ anchorize $heroClass }} bg-blue-swoosh">
  <div class="hero__content flex flex-center">
    <div class="wrapper-lg flex flex-column flex-row-m">
        <div class="w-100 w-50-m flow">
          <a href="/resources/" class="back no-decoration">{{ partialCached "svg-icons/chevron-left.svg" . }} Back to all resources</a>
          <h1 class="text-white text-shadow">{{ .Title | markdownify }}</h1>
          <div class="flex flex-justify-between">
            <div class="categories-list">
              {{ if .Params.Categories }}
              {{ range $index, $elements := .Params.Categories }}<a href="{{ `categories/` | relLangURL }}{{ . | urlize | lower }}/" class="categories">{{ if ne $index 0 }}{{ end }}
                  {{ . | title }}</a><span class="text-white">,</span>{{ end}}
              {{ end }}
            </div>
            <span class="reading-time flex flex-center fs-100">{{ partialCached "svg-icons/clock.svg" . }} {{ .ReadingTime }} min read</span>
          </div>
        </div>
        <div class="post-featured-image w-100 w-50-m mt-3 mt-0-m ml-3-m">
          <div class="cover-image">
            <img loading="lazy" src="{{ .Params.seo.featured_image }}" alt="{{ .Params.seo.featured_image_alt }}" width="600" height="500">
          </div>
        </div>
    </div>
  </div>
</div>